/* =========================
   Production Step
========================= */

.production-step {
  min-height: 140px;
  background: #fff;
  border-radius: 10px;
  padding: 16px;
  position: relative;
}

.production-step > b {
  position: absolute;
  left: 16px;
  top: 14px;
  color: #efa900;
  font-size: 20px;
}

.production-step i {
  display: grid;
  place-items: center;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background: #d9f3e0;
  font-style: normal;
}

.production-step h3 {
  font-size: 12px;
  margin: 11px 0 6px;
}

.production-step p {
  font-size: 8px;
  color: #657b6d;
  line-height: 1.7;
  margin: 0;
}

.production-step small {
  display: inline-block;
  margin-top: 9px;
  padding: 2px 7px;
  background: #dbf8e3;
  color: #347354;
  border-radius: 5px;
  font-size: 7px;
}