/* =========================
   Quality CTA Links
========================= */

.quality-cta__link {
  display: inline-block;
  border-radius: 18px;
  padding: 8px 19px;
  margin: 5px;
  background: #f2c23b;
  color: #064328;
  font-size: 9px;
  cursor: pointer;
}

.quality-cta__link + .quality-cta__link {
  background: #fff;
}